//Anims for the cursor on ityped
.ityped-cursor {
  font-size: inherit;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

@keyframes fill-right {
  100% {
    background-color: $color-background-dark;
    color: $color-light;
  }
}
