@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab&display=swap");

body {
  font-family: $default-paragraph-font;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $default-heading-font;
}

p {
  font-size: 2rem;
}

li {
  list-style: none;
}

a:link,
a:visited {
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.2s;
  padding: calc(#{$default-padding} / 2);
  color: $color-font-primary;
}

a:hover {
  animation: icon-fill 0.2s forwards;
}
