// Colors
$color-font-primary: #1d3557;
$color-background-light: #a8dadc;
$color-background-dark: #457b9d;
$color-light: #f1faee;
$color-accent: #e63946;

// Fonts
$default-font-size: 16px;
$default-heading-font: "Roboto Slab", serif;
$default-paragraph-font: "Raleway", sans-serif;

// Padding
$default-padding: 2rem;

// Widths
$default-width: 65%;
