// Colors
//Color Scheme A:
$color-font-primary: #1d3557;
$color-background-light: #a8dadc;
$color-background-dark: #457b9d;
$color-light: #f1faee;
$color-accent: #e63946;

//Color Scheme B:
// $color-font-primary: #000000;
// $color-background-light: #e5e5e5;
// $color-background-dark: #14213d;
// $color-light: #ffffff;
// $color-accent: #fca311;

//Color Scheme C:
// $color-font-primary: #f0f3bd;
// $color-background-light: #028090;
// $color-background-dark: #05668d;
// $color-light: #00a896;
// $color-accent: #02c39a;

// Fonts
$default-font-size: 16px;
$default-heading-font: "Roboto Slab", serif;
$default-paragraph-font: "Raleway", sans-serif;

// Padding
$default-padding: 2rem;

// Widths
$default-width: 80%;
