.PortfolioFilter {
  background-color: $color-background-light;
  padding: $default-padding;
  margin-right: $default-padding;
  max-height: 100%;
  filter: $default-drop-shadow;
  ul {
    li {
      list-style: none;
      font-size: 2rem;

      .project-name {
        font-size: 3rem;
        transition: all 0.2s;
        padding: calc(#{$default-padding} / 2);
        padding-left: 0;
        &:hover {
          cursor: pointer;
          animation: fill 0.5s forwards;
        }
      }
    }
  }
}

@media ($phone-max) {
  .PortfolioFilter {
    margin-bottom: 2rem;
    ul {
      li {
        .project-name {
          &:hover {
          }
        }
      }
    }
  }
}
