.LeftBar,
.RightBar {
  background-color: $color-background-light;
  margin-top: $default-padding;
  padding: $default-padding;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  filter: $default-drop-shadow;
}

.LeftBar {
  &--img {
    width: 90%;
    margin-top: 1rem;
    filter: blur(5px);
    transition: all 0.2s;
    &:hover {
      filter: blur(0px);
      outline: 5px solid $color-accent;
    }
  }
}

.RightBar {
  ul {
    li {
      font-size: 2rem;
      text-align: end;
    }
  }
  &__devicons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background-color: $color-light;
    padding: $default-padding;
    margin-top: 4rem;
    filter: $default-drop-shadow;
  }
}
